

[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git

[submodule "components/esp-owb"]
	path = components/esp-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
